<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'img/silogo.ico' %}">
  <link href="{% static 'css/bootstrap-4-navbar.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body >
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand"> <img src="{% static 'img/spanglewhite.png' %}" width="130"> </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <li><a class="dropdown-item dropdown-toggle" href="#">Kitchenwares </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'puranpatra' %}">Puran patra</a></li>
                <li><a class="dropdown-item" href="#">Puran Jali</a></li>
                <li><a class="dropdown-item" href="#">Sev Sancha Big</a></li>
                <li><a class="dropdown-item" href="#">Sev sancha Small</a></li>
                <li><a class="dropdown-item" href="#">Masala Peti</a></li>
                <li><a class="dropdown-item" href="#">Greater</a></li>

              </ul>
            </li>
            <li><a class="dropdown-item dropdown-toggle" href="#">Pooja Articles </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'sinhasan' %}">Sinhasan</a></li>
                <li><a class="dropdown-item" href="#">Mandir</a></li>
                <li><a class="dropdown-item" href="#">Pooja Peti</a></li>
                <li><a class="dropdown-item" href="#">Phoolary</a></li>
                <li><a class="dropdown-item" href="#">Hawankumd</a></li>
                <li><a class="dropdown-item" href="#">Jhula</a></li>

              </ul>
            </li>
            <li><a class="dropdown-item dropdown-toggle" href="#">Utensils </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Pandan</a></li>
                <li><a class="dropdown-item" href="#">StorageBox</a></li>
                <li><a class="dropdown-item" href="#">Dustpen</a></li>

              </ul>
            </li>
          </ul>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact Us </a>
        </li>

      </ul>

    </div>

  </nav>

  <div class="container-fluid pt-3 pb-3 clearfix">
    <div class="row">
     {% block content %}

      this is block content

      {% endblock content %}
    </div>  </div>

  <div class="alert text-center bg-secondary text-light rounded" style="margin-bottom:0; text-align: center;">

    <p class="lead">Copyright
        2020 All Right Reserved ||
        Spangle And Si Logo are registered Trademark of Shilpa Industries</p>

</div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <script src="{% static 'js/bootstrap-4-navbar.js' %}"></script>


</body>

</html>