{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}

{% load static %}

      <div class="col-md-8 bg-light rounded">
        <h2 class="text-primary">Kitchenwares</h2>
        <h5>Title description, April 20, 2020</h5>
        <div class="overflow-auto">
          <ul class="list-group list-group-horizontal col-md-auto">
            <li class="list-group-item col-sm-4">
              <a href="{% url 'puranpatra' %}">
              <div class="card border-0 ">                
                  <h6 class="card-header text-center">Crusher</h6>
                <img src="{% static 'img/crusher.png'%}" class="card-img-top" alt="...">
              </div>
            </a>
            </li>
            <li class="list-group-item col-sm-4">
              <a href="#">
              <div class="card border-0">                
                  <h6 class="card-header text-center">Puran Jali</h6>
                <img src="{% static 'img/purajnali.png' %}" class="card-img-top mt-4" alt="...">
              </div>
            </a>
            </li>
            <li class="list-group-item col-sm-4">
              <a href="#">
              <div class="card border-0 ">                
                  <h6 class="card-header text-center">Greter</h6>
                <img src="{% static 'img/ghasni.png' %}" class="card-img-top mt-4" alt="...">
              </div>
              </a>
            </li>
            <li class="list-group-item col-sm-4">
              <a href="#">
              <div class="card border-0 ">                
                  <h6 class="card-header text-center">Masala Peti</h6>
                <img src="{% static 'img/masalapetiwithbox.png' %}" class="card-img-top mt-4" alt="...">
              </div>
              </a>
            </li>
          </ul>
        </div>
        <p>Some Items dis.</p>
        <p>A modern middle-class residential kitchen is typically equipped with a Crusher(puran Patra),
          a Greter , Sev Sancha , Puran jali etc. So We Provides best in class Kitchen Eqipments.</p>
        <br>
        <h2 class="text-primary">Pooja Articles</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="overflow-auto ">
          <ul class="list-group list-group-horizontal col-md-auto">
            <li class="list-group-item col-sm-4">
              <a href="{% url 'sinhasan' %}">
              <div class="card border-0">               
                  <h6 class="card-header text-center">Shinhasan</h6> 
                <img src="{% static 'img/shinhasaqnpng.png' %}" class="card-img-top" alt="...">
              </div>
              </a>
            </li>
            <li class="list-group-item col-sm-4">
              <a href="#">
              <div class="card border-0 ">                
                  <h6 class="card-header text-center">Hawnkund</h6>
                <img src="{% static 'img/hawankund.png' %}" class="card-img-top mt-4" alt="...">
              </div>
            </a>
            </li>
            <li class="list-group-item col-sm-4">
              <a href="#">
              <div class="card border-0 ">               
                  <h6 class="card-header text-center">Pholary</h6>
                <img src="{% static 'img/pholary.png' %}" class="card-img-top" alt="...">
              </div>
              </a>
            </li>
          </ul>
        </div>

        <p>Some Item Des.</p>
        <p>A religious middle-class residential typically equipped with a Hawankund,
         pooja peti , phoolary etc. So We Provides best in class religious Eqipments.</p>
        <br>
        <h2 class="text-primary">Utensils</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="overflow-auto ">
          <ul class="list-group list-group-horizontal col-md-auto">
            <li class="list-group-item col-sm-4">
              <a href="#">
              <div class="card border-0">              
                  <h6 class="card-header text-center">Pandan</h6>          
                <img src="{% static 'img/Pandan.png' %}" class="card-img-top" alt="...">
              </div>
              </a>
            </li>
            <li class="list-group-item col-sm-4">
              <a href="#">
              <div class="card border-0 ">              
                  <h6 class="card-header text-center">Pooja Peti</h6>
                <img src="{% static 'img/Poojpeti.png' %}" class="card-img-top mt-5" alt="...">
              </div>
              </a>
            </li>
            <li class="list-group-item col-sm-4">
              <a href="#">
              <div class="card border-0 ">                
                  <h6 class="card-header text-center">Dustpen</h6>
                <img src="{% static 'img/dustpen.png' %}" class="card-img-top mt-1" alt="...">
              </div>
              </a>
            </li>

          </ul>
        </div>

        <p>Some Item Des.</p>
        <p>A modern middle-class residential typically equipped with Utensils like Pandn,
          dustpen, storage box , etc. So We Provides best in class Utensils Products.</p>

        <br>
      </div>
      <div class="col-md-4 bg-secondary rounded text-light">
        <h3 class="text-danger">Some Links</h3>
        <p>Kitchewares, Pooja articles ans Utensils .</p>
        <nav class="navbar navbar-expand-Xl rounded bg-dark navbar-dark">
          <div class=" navbar-collapse" id="collapsibleNavbar1">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Kitchenwares
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'puranpatra' %}">Puran Patra</a>
                  <a class="dropdown-item" href="#">Sev Sancha Big</a>
                  <a class="dropdown-item" href="#">Sev Sancha Small</a>
                  <a class="dropdown-item" href="#">Puran jali</a>
                  <a class="dropdown-item" href="#">Greter</a>
                  <a class="dropdown-item" href="#">Masala Peti</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Pooja Articles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'sinhasan' %}">Sinhasan</a>
                  <a class="dropdown-item" href="#">Phoolary</a>
                  <a class="dropdown-item" href="#">Pooja Peti</a>
                  <a class="dropdown-item" href="#">Mandir</a>
                  <a class="dropdown-item" href="#">Jhoola</a>
                  <a class="dropdown-item" href="#">Hawankund</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Utensils
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Pandan</a>
                  <a class="dropdown-item" href="#">Storage Box</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Dustpen</a>
                </div>
              </li>


            </ul>
          </div>

        </nav>

        </br>
        <h2 class="text-danger">About Us</h2>
        <h5>Photo of me:</h5>
        <img src="{% static 'img/shilpaindustries.png' %}" class="col-md-auto">
        Shilpa Industries was set up in 1993 by Amar Singh Sharma- a firebrand entrepreneur.
        Brand <span><img src="{% static 'img/Spangle.png' %}" width="70"></span> made strong inroads in the Indian kitchenware market
        and was soon recognised and respected for its focus on innovation, quality, commitment and customer orientation.
        The small co. grew rapidly and today wears the mantle of a pioneering and leading brand in the Indian
        kitchenware market, with presence in millions of homes in India and abroad. Truly "har ghar mai" ( available in
        every house).
        <br>
        The mantle of leadership today vests with Manoj Kumar , Manjeet Kumar and Rishi dev-the young and dynamic Managing Director.
        Under his vision and leadership the company continues to grow rapidly and at a blistering pace.
        <br>
        <span><img src="{% static 'img/Spangle.png' %}" width="70"></span> is a brand well-known in Indian homes for its quality &
        commitment. The company has more than 50 products in the prepare, cook and serve verticals of kitchenware.
        The company has manufacturing facilities at Mumbai in Malad and Vasai. The marketing headquarters are at Shipla Industries
        ,Bawana , Delhi. The employee strength today exceeds 50.
        <br>
        <span><img src="{% static 'img/Spangle.png' %}" width="70"></span> products are available throughout India, serviced by more
        than 70 traditional dealer stores. It also occupies a prominent place in most modern retail outlets.

        <hr class="d-md-none">
        <br>
        <a class=" float-right" href="mailto:info@spangle.in">email:-info@spangle.in</a>
      </div>

{% endblock content %}

